/* styles.css */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    background-image: url('/Assets/Cookies.jpg');
    background-size: cover;
    height: 100vh;
}


html, body {
    height: 100%;
}

body {
    background-color: #f0f0f0;
    position: relative;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

p {
    font-size: 24px;
}


.box{
    margin-top: 20px;
    margin-bottom: 20px;
}
.recipe {

    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1,h2 {
    font-size: 24px;
    text-align: center;
    color: #603928;
}

ul, ol {
    list-style: none;
    padding: 0;
}

ul li, ol li {
    margin-bottom: 10px;
}


.question {
    font-weight: bold;
    font-size: 25px;
    color: #a85d34; 
    margin-bottom: 5px; 
    margin-left: 18px;
}
.answer{
    font-size: 20px;
    margin-left: 25px;
    
}
.faq{
    margin-top: 10px;
 }

.name{
    font-size: 40px;
    color: #18140f;
    margin-bottom: 43px;
}

.faq {
    text-align: center;
    padding: 20px;
}

.faq-item {
    background-color: #fff;
    border: 2px solid #a85d34;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
}

.question {
    font-weight: bold;
    font-size: 25px;
    color: #a85d34;
    margin-bottom: 5px;
}


.answer {
    display: none;
    font-size: 20px;
    margin-left: 25px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.faq-item:hover .answer {
    display: block;
}
