* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-image: url('/Assets/alsocookie.jpg');
    background-size: cover;
    height: 100vh;
}

html, body {
    height: 100%;
}

body {
    background-color: #e7e4e4;
    position: relative;
}

.centered-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
}

p {
    font-size: 24px;
}

.box {
    margin-top: 20px;
    margin-bottom: 20px;
}

.recipe {
    max-width: 600px;
    margin: 0 auto;
    background-color: #f5f4f4;
    padding: 20px;
    border-radius: 8px;
}

h1, h2 {
    font-size: 24px;
    text-align: center;
    color: #603928;
}

ul, ol {
    list-style: none;
    padding: 0;
}

ul li, ol li {
    margin-bottom: 10px;
}

.question {
    font-weight: bold;
    font-size: 25px;
    color: #a85d34;
    margin-bottom: 5px;
    margin-left: 18px;
}


.faq {
    text-align: center;
    padding: 20px;
}

.faq-item {
    background-color: #fff;
    border: 2px solid #a85d34;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
    cursor: pointer;
}

.answer {
    display: none;
    font-size: 20px;
    margin-left: 25px;
    padding-top: 10px;
    border-top: 1px solid #ccc;
}

.faq-item:hover .answer {
    display: block;
}

.page-title {
    margin-top: 20px;
    font-size: 38px;
    color: #603928;
    text-align: center;
    margin-bottom: 20px;
}

.intro {
    font-size: 20px;
    line-height: 1.5;
}

.section-title {
    font-size: 33px;
    color: #603928;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
}

.science {
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 30px;
}
.name{
    font-size: 40px;
    color: #ffffff;
    margin-bottom: 43px;
}